
img {
  border: 0;
  vertical-align: middle;
}
table {
  width: 100%;
  word-wrap: break-word;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 20px;
}
tr {
  background: #fff;
  color: #222;
}
tr:nth-child(odd) {
  background: #eee;
  color: #222;
}
td {
  padding: 10px;
}
#result,
#thumbnail {
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  color: #222;
  text-align: center;
  max-width: 800px;
  margin: auto;
}
.jcrop-holder {
  margin: 0 auto;
}

@media (min-width: 481px) {
  #navigation {
    list-style: none;
    padding: 0;
  }
  #navigation li {
    display: inline-block;
  }
  #navigation li:not(:first-child):before {
    content: '| ';
  }
}
